---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
// import Features3 from '~/components/widgets/Features3.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

// import { YouTube } from 'astro-embed';

const metadata = {
  title: '澳可富净水',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    image={{
      src: '~/assets/images/main.JPG',
      alt: 'Homepage Image',
    }}
  >
    <Fragment slot="title">
      水驱无电净水<span class="hidden xl:inline">发明者</span>
      <span class="text-accent dark:text-white highlight">重新定义</span>无电RO机
    </Fragment>

    <Fragment slot="subtitle">
      让健康、安全的净水流入每一个家庭
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="关于我们"
    subtitle="我们是青岛澳可富净水设备有限公司，拥有和欧洲配套10多年的净水产品生产经验，自有厂房17000平方和自有商标OAKFULL及专利，独立的净化车间，集研发到生产一站式无电净水器生产厂家，竭诚为您服务。"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="公司代表性数据"
    subtitle="以下数据反映了公司丰富的生产经验、技术硬实力以及用户对我们的信任"
    stats={[
      { title: '平方厂房', amount: '17000+' },
      // { title: '丰富经验员工', amount: '500+' },
      { title: '年欧洲配套经验', amount: '10+' },
      { title: '年公司历史', amount: '30+' },
    ]}
  />
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    image={{
      src: '~/assets/images/oakfull-system.PNG',
      alt: 'oakfull-system',
    }}
  >
    <!-- <Fragment slot="title">
      水驱无电净水<span class="hidden xl:inline">发明者</span>
      <span class="text-accent dark:text-white highlight">重新定义</span>无电RO机
    </Fragment>

    <Fragment slot="subtitle">
      让健康、安全的净水流入每一个家庭
    </Fragment> -->
  </Hero>
  <!-- Brands Widget ****************** -->

  <Brands
    title="国内外认证"
    subtitle=" "
    icons={[]}
    images={[
      {
        src: '~/assets/images/nsf.png',
        alt: 'NSF',
      },
      {
        src: '~/assets/images/CE.png',
        alt: 'CE',
      },
      {
        src: '~/assets/images/MA.jpg',
        alt: 'MA',
      },
      {
        src: '~/assets/images/ilac-mra.png',
        alt: 'ilac-mra',
      },
      {
        src: '~/assets/images/CNAS.jpg',
        alt: 'CNAS',
      },
      // {
      //   src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
      //   alt: 'Node JS',
      // },
      // {
      //   src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
      //   alt: 'Google',
      // },
      // {
      //   src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
      //   alt: 'Meta',
      // },
      // {
      //   src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
      //   alt: 'Yahoo',
      // },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="我们的产品优势"
    subtitle="首创水压罐，低压四级深度过滤，脱盐率可达98%"
    columns={3}
    items={[
      {
        title: '无需用电',
        description:
          '无电净水器不涉及电路工作，杜绝了漏电或电路故障的风险，特别适合有老人和孩子的家庭。水驱机械原理运作，节能、低碳、环保。整体结构更简单，故障点更少，使用寿命更长。',
        icon: 'tabler:artboard',
      },
      {
        title: '一级水效',
        description:
        '产水率达到了国家标准中规定的最高等级，采用更先进的反渗透膜和设计方案，过滤效率和使用性能更高。每过滤100升原水，至少有60升可作为纯净水使用，废水量更少，水资源利用率更高。',
        icon: 'tabler:plug-connected',
      },
      {
        title: '四级过滤',
        description:
          '多级过滤逐层净化，确保去除水中各种有害物质。前置折叠式pp滤芯和前置雅可比活性炭分担过滤负担，延长反渗透膜的使用寿命。后置酸洗雅可比活性炭滤芯进一步优化水的味道。',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: '恒压稳流',
        description:
          '首创水压罐搭配进口低压反渗透膜，相比传统气压罐，恒定的水流避免出水忽快忽慢，使用更加舒适，适合直饮或大流量场景。低压渗透使反渗透膜保持最佳过滤状态，确保对细菌、病毒、重金属和其他杂质的高效去除。',
        icon: 'tabler:rocket',
      },
      {
        title: '母婴直饮',
        description:
          '反渗透净水器因其高精度过滤性能，被认为是最适合母婴用水的净水设备。反渗透膜（RO膜）的过滤精度达到0.0001微米，能有效去除水中的细菌、病毒、重金属、农药残留、抗生素、氯化物等微小污染物，不含对婴幼儿有潜在危害的物质。过滤后的水口感更柔和，婴幼儿更易接受。',
        icon: 'tabler:plug-connected',
      },
      {
        title: '容易安装',
        description:
          '净水器主体设计为一体化结构，减少外部管路连接，安装更整洁。使用快速接头，管路安装以及滤芯更换只需简单插入，无需使用专用工具或专业知识。通过视频指引，女生也可以自主安装。',
        icon: 'tabler:plug-connected',
      },
      {
        title: '节省空间',
        description: 
          '适合安装在厨房水槽下方或台面上，占用空间极小。净水器机身集成所有过滤模块和管路，减少了外部连接和附加组件的体积，最大限度地节省家庭或办公空间。',
        icon: 'tabler:plug-connected',
      },
      {
        title: '“0”噪音',
        description:
          '无电、无泵配合精密机械原理实现无噪音或极低噪音的运行状态，为用户提供更加安静、舒适的使用体验。',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: '超大流量',
        description:
          '低压渗透，150加仑的反渗透膜实现有电800加仑的出水量，平均每分钟出流量可达2.5L。相比普通净水器，超大流量净水器提供的水量大大缩短了等待时间，适合需要快速获取饮用水或料理用水的环境。',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs> -->

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="来自消费者的真实评价"
    testimonials={[
      {
        testimonial: `作为一名初创公司的CEO，我对时间和成本的敏感度非常高。入手这款无电反渗透净水器后，我最大的感受就是它的无需用电功能特别省心，无论是办公室还是家里，都不用担心电费或额外布线的问题。同时，它的免维护设计让我能够专注于工作，不需要经常检查或者更换零件。用它过滤出来的水质清澈，口感也非常好，每次喝水都像是一种享受，简直是高效生活的最佳拍档。`,
        name: 'Emily Kennedy',
        job: '初创公司CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `作为一名全职妈妈，我非常看重家人饮水的安全性，而且还希望家里的设备用起来省力。这款无电反渗透净水器让我彻底解放了双手，它几乎不需要维护，也没有复杂的操作步骤，非常适合我这种“技术盲”。更重要的是，它的静音表现特别好，夜深人静的时候也不用担心吵到孩子。过滤后的水清甜爽口，做饭、泡奶粉都能更放心，这真的是一款值得推荐的家庭好物。`,
        name: 'Sarah Hansen',
        job: '全职太太',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `作为一名高校教师，我对产品的质量和耐用性有很高的要求。这款无电反渗透净水器让我印象深刻的是它的寿命长，购买后几乎不用担心更换或维修问题，完全符合我追求高性价比的原则。此外，它过滤后的水质纯净，喝起来口感非常好，用来泡茶简直是一种享受。更重要的是，它采用的是无电设计，不仅环保，还避免了用电设备可能带来的安全隐患，这一点让我特别满意。`,
        name: 'Mark Wilkinson',
        job: '高校教师',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: '更多评价...',
      href: '#',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction

    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get templates',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction> -->

    <!-- Features2 Widget ************** -->

    <Features2
    title="联系我们"
    items={[
      {
        title: '总部电话',
        description: '+86 0532-89975888',
        icon: 'tabler:headset',
      },
      {
        title: '电子邮件',
        description: 'sales@oakfullwater.com',
        icon: 'tabler:mail',
      },
      {
        title: '公司地址',
        description: '山东省青岛市黄岛区棋盘山路3号',
        icon: 'tabler:map-pin',
      },
    ]}
  />

</Layout>
