---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Content Widget ****************左 -->

  <Content
    isReversed
    tagline="产品"
    title="丰富的全屋净水产品线"
    
    items={[
      // {
      //   title: '高泥沙保存能力',
      //   description:
      //     'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      // },
      // {
      //   title: '低水压大流量',
      //   description:
      //     'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      // },
      // {
      //   title: '高效过滤泥沙重金属',
      //   description:
      //     'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      // },
    ]}
    id="prefilter"
    image={{
      // src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      // alt: 'Colorful Image',
      src: '~/assets/images/prefilter.png',
      alt: 'prefilter',
    }}
  >
    
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">透明前置过滤器</h3>
      复合滤芯pp棉加活性炭（融合前置过滤器和中央净水机），所需安装空间更小，成本更低，保护后续用水安全。强耐用性高效过滤，保护全屋用水设施和下游过滤器。
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget ****************右 -->

  <Content
    
    isAfterContent
    items={[
      // {
      //   title: 'High level of customization',
      //   description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      // },
      // {
      //   title: 'Multiple layout possibilities',
      //   description:
      //     'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      // },
      // {
      //   title: 'Fully responsive design',
      //   description:
      //     "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      // },
      // {
      //   title: 'Integration of media',
      //   description:
      //     'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      // },
    ]}
    id="ultrafiltration"
    image={{
      // src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      // alt: 'Colorful Image',
      src: '~/assets/images/ultrafiltration.png',
      alt: 'ultrafiltration',
    }}
  >
    
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">超滤净水器</h3>
      相比反渗透保留了水中的矿物质，矿泉水水质，出水效率更高，无废水，适合水质较好的地区。澳可富滤芯采用旋卡式，用户可以几秒钟更换，并且颜色一一对应，不易出错。

    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Content Widget ****************左 -->

    <Content
    isReversed
    items={[
      {
        title: '压力稳定',
        description:
          '首创水压罐，相比传统储水罐靠气体压力来驱动水流的设备，压力不稳定，导致流速不稳定。2年左右就需充气，售后成本高。',
      },
      {
        title: '低水压大流量',
        description:
          '澳可富无电反渗透净水机净水流速可达到2.5L/Min的大流量，TDS去除率能长期稳定在98%。要达到相同水质和流速市场上有电净水机至少都是800G的反渗透膜，而澳可富自研技术，用150G的低压反渗透膜就可实现。成本更低、水质更好。',
      },
      {
        title: '安全高承压',
        description:
          '承压35公斤以上，十万次水锤，通过国家cnas认证，高于海外nsf标准。',
      },
      {
        title: '无电更安全',
        description:
          '由于没有电动部件，维护相对简单，使用寿命长。',
      },
    ]}
    id="RO-system"
    image={{
      // src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      // alt: 'Colorful Image',
      src: '~/assets/images/RO-system.png',
      alt: 'RO-system',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">无电反渗透净水器</h3>
      

    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget ****************右 -->

  <Content
    isAfterContent
    items={[
      {
        title: '稳定性好',
        description: '由于没有电气元件，无电软水机的故障率较低，稳定性好，长期使用不会受到电力波动或电气设备损坏的影响。',
      },
      {
        title: '多场景适用性',
        description:
          "这种软水机适用于家庭、办公楼、商业场所等多个环境，尤其在电力不稳定或无法接入电源的地方，显得更为实用。",
      },
      {
        title: '更安全',
        description:
          '没有电流通过机器，不存在电气泄漏或火灾风险，使用时更加安全。',
      },
    ]}
    id="softerner"
    image={{
      // src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      // alt: 'Colorful Image',
      src: '~/assets/images/softener.png',
      alt: 'softener',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">无电软水机</h3>
      无电软水机不需要电力驱动，完全依赖水流和机械原理工作，因此不产生电力消耗，节省能源，并且不需要电池或插座，有利于环保。




    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

      <!-- Content Widget ****************左 -->

      <Content
      isReversed
      items={[
        {
          title: 'pp棉滤芯',
          description:
            '步进式三层PP棉，过滤面积与截污量比常规PP滤芯提高2倍以上。过滤精度≤5微米、高效去除悬浮物、泥沙、铁锈等其它肉眼可见物。',
        },
        {
          title: '前置碳滤芯',
          description:
            '进口雅可比椰壳活性炭，超细颗粒高温烧结成柱状，同外形规格尺寸情况下，含碳量更高，处理水量更大.优异性能从而获得出色的去除余氯，挥发性有机物，异味能力。',
        },
        {
          title: '反渗透膜滤芯',
          description:
            '聚酰胺多层复合膜，过滤精度≤0.1nm（0.0001微米）。有效去除≥99%的铅、汞、镉等重金属 ≥99.6的细菌与病毒。',
        },
        {
          title: '后置碳滤芯',
          description:
            '超高碘值进口活性炭出色的吸附与离子交换能力，高效去除余氣，色度,三致有机物(致癌 、致畸、致突变)及其它有害挥发性有机物。四级组合深度过滤技术，完全保留水中有益矿物质，又拥有饱满绵甜的口感。',
        },
        {
          title: '富锶矿化碳滤芯',
          description:
            '滤芯中含有富锶矿石或人工合成的锶离子释放材料，能够将锶离子缓慢释放到水中，使普通水转化为富含锶离子的矿化水。锶是一种对人体有益的微量元素，有助于增强骨密度和改善骨骼健康，特别适合中老年人或需要补充矿物质的人群。除了锶离子，滤芯还可能释放其他对人体有益的矿物质（如钙、镁、钾），使水更加接近天然矿泉水的成分，提升水的口感和健康价值。',
        },
        {
          title: '超滤活性炭复合滤芯',
          description:
            '超滤膜活性炭复合滤芯，超滤膜的过滤精度在 0.001微米（1纳米）到0.1微米之间。它能够有效截留溶液中的细菌、病毒、大分子有机物和胶体等物质，同时允许水分子和一些小分子物质（如盐离子）通过。',
        },
      ]}
      id="cartridges"
      image={{
        // src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        // alt: 'Colorful Image',
        src: '~/assets/images/cartridges.png',
        alt: 'cartridges',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">滤芯耗材</h3>
        强耐用性高效过滤，保护全屋用水设施和下游过滤器。
      </Fragment>
  
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

  <!-- CallToAction Widget *********** -->
<!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
   -->
</Layout>
